.icon-btn {
  @apply w-10 h-10 inline-flex justify-center items-center;

  &-container {
    @apply w-12 h-12 inline-flex justify-center items-center rounded-full;
  }

  & svg {
    @apply w-6 h-6;
  }

  &-filled {
    background-color: rgb(var(--color-surface-variant));
    color: rgb(var(--color-primary));

    @apply transition-colors duration-200;
    &:hover {
      background-color: rgb(var(--color-primary-container));
      color: rgb(var(--color-on-primary-container));
    }
  }
}
